dataset cifar100
data_path ./data/cifar100
normalize
nclass 100
batchsize 128
optim sgd
lr 1e-3
wd 5e-5
niter 50000
stepsize 10000
mode actv
fnet_path ./models/pretrained/cifar100/wali/fnet1.pt
hnet_path ./models/pretrained/cifar100/wali/std_hnet1.pt
clf_path ./models/pretrained/cifar100/wali/std_clf0.pt
model_path ./models/benchmark/cifar100/wali/finetune_conv3.net
freeze_hnet [1, 2]
linearize_hnet 0