dataset cifar10
data_path ./data/cifar10
normalize
nclass 10
batchsize 128
optim sgd
lr 1e-2
wd 1e-6
niter 80000
stepsize 20000
mode actv
fnet_path ./models/pretrained/cifar10/wali/fnet1.pt
hnet_path ./models/pretrained/cifar10/wali/std_hnet1.pt
clf_path ./models/pretrained/cifar10/wali/std_clf0.pt
model_path ./models/benchmark/cifar10/wali/actv.net
freeze_hnet [1, 2, 3]
linearize_hnet 0