dataset cifar10
data_path ./data/cifar10
normalize
nclass 10
batchsize 128
optim sgd
lr 1e-3
wd 5e-5
niter 50000
stepsize 10000
mode actv
fnet_path ./models/pretrained/cifar10/wali/fnet1.pt
hnet_path ./models/pretrained/cifar10/wali/std_hnet1.pt
clf_path ./models/pretrained/cifar10/wali/std_clf0.pt
model_path ./models/benchmark/cifar10/wali/finetune_conv23.net
freeze_hnet 1
linearize_hnet 0