dataset svhn
data_path ./data/svhn
nclass 10
batchsize 128
optim sgd
lr 1e-3
wd 5e-5
niter 50000
stepsize 10000
mode actv
fnet_path ./models/pretrained/svhn/ali/fnet1.pt
hnet_path ./models/pretrained/svhn/ali/std_hnet1.pt
clf_path ./models/pretrained/svhn/ali/std_clf0.pt
model_path ./models/benchmark/svhn/ali/finetune_conv3.net
freeze_hnet [1, 2]
linearize_hnet 0